USE [master]
GO
/****** Object:  Database [WM]    Script Date: 14.01.2020 09:35:52 ******/
CREATE DATABASE [WM];
ALTER DATABASE [WM] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WM]
GO
/****** Object:  Schema [HST]    Script Date: 14.01.2020 09:35:52 ******/
CREATE SCHEMA [HST]
GO
/****** Object:  Schema [MGMNT]    Script Date: 14.01.2020 09:35:52 ******/
CREATE SCHEMA [MGMNT]
GO
/****** Object:  UserDefinedFunction [dbo].[WorkTime]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[WorkTime] 
(
    @StartDate DATETIME,
    @FinishDate DATETIME
)
RETURNS BIGINT
AS
BEGIN
    DECLARE @Temp BIGINT
    SET @Temp=0

    DECLARE @FirstDay DATE
    SET @FirstDay = CONVERT(DATE, @StartDate, 112)

    DECLARE @LastDay DATE
    SET @LastDay = CONVERT(DATE, @FinishDate, 112)

    DECLARE @StartTime TIME
    SET @StartTime = CONVERT(TIME, @StartDate)

    DECLARE @FinishTime TIME
    SET @FinishTime = CONVERT(TIME, @FinishDate)

    DECLARE @WorkStart TIME
    SET @WorkStart = '08:00'

    DECLARE @WorkFinish TIME
    SET @WorkFinish = '16:00'

    DECLARE @DailyWorkTime BIGINT
    SET @DailyWorkTime = DATEDIFF(SECOND, @WorkStart, @WorkFinish)

    IF (@StartTime<@WorkStart)
    BEGIN
        SET @StartTime = @WorkStart
    END
    IF (@FinishTime>@WorkFinish)
    BEGIN
        SET @FinishTime=@WorkFinish
    END
    IF (@FinishTime<@WorkStart)
    BEGIN
        SET @FinishTime=@WorkStart
    END
    IF (@StartTime>@WorkFinish)
    BEGIN
        SET @StartTime = @WorkFinish
    END

    DECLARE @CurrentDate DATE
    SET @CurrentDate = @FirstDay
    DECLARE @LastDate DATE
    SET @LastDate = @LastDay

    WHILE(@CurrentDate<=@LastDate)
    BEGIN       
        IF (DATEPART(dw, @CurrentDate)!=1 AND DATEPART(dw, @CurrentDate)!=7)
        BEGIN
            IF (@CurrentDate!=@FirstDay) AND (@CurrentDate!=@LastDay)
            BEGIN
                SET @Temp = @Temp + @DailyWorkTime
            END
            ELSE IF (@CurrentDate=@FirstDay) AND (@CurrentDate!=@LastDay)
            BEGIN
                SET @Temp = @Temp + DATEDIFF(SECOND, @StartTime, @WorkFinish)
            END

            ELSE IF (@CurrentDate!=@FirstDay) AND (@CurrentDate=@LastDay)
            BEGIN
                SET @Temp = @Temp + DATEDIFF(SECOND, @WorkStart, @FinishTime)
            END
            ELSE IF (@CurrentDate=@FirstDay) AND (@CurrentDate=@LastDay)
            BEGIN
                SET @Temp = DATEDIFF(SECOND, @StartTime, @FinishTime)
            END
        END
        SET @CurrentDate = DATEADD(day, 1, @CurrentDate)
    END
    RETURN IIF(@Temp < 0, 0, @Temp)

END
GO
/****** Object:  Table [dbo].[TASKS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECTID] [int] NOT NULL,
	[ACCOUNTID] [int] NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[STATE] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](260) NULL,
	[INUSE] [bit] NOT NULL,
	[ESTIMATESTART] [datetime] NULL,
	[ESTIMATEEND] [datetime] NULL,
 CONSTRAINT [PK_TASKS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [MGMNT].[ACCOUNTS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MGMNT].[ACCOUNTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](260) NOT NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[PERMISSIONS] [varbinary](max) NOT NULL,
	[TYPE] [tinyint] NOT NULL,
	[TITLE] [nvarchar](500) NULL,
	[NAME] [nvarchar](100) NULL,
	[SURNAME] [nvarchar](100) NULL,
	[ISLOCKED] [bit] NOT NULL,
	[INUSE] [bit] NOT NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](200) NULL,
 CONSTRAINT [PK_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_ACCOUNTS_USERNAME] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_TASKS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_TASKS] AS

SELECT T.ID, T.NAME, T.PROJECTID, ACCOUNTID, A.NAME ACCOUNT, STATE, DESCRIPTION, T.INUSE, ESTIMATESTART, ESTIMATEEND FROM TASKS T
LEFT JOIN MGMNT.ACCOUNTS A ON A.ID = T.ACCOUNTID 
WHERE T.INUSE = 1
GO
/****** Object:  Table [dbo].[TASKTIMES]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKTIMES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASKID] [int] NOT NULL,
	[TIME] [datetime] NOT NULL,
	[TYPE] [int] NOT NULL,
	[MODCOMP] [nvarchar](260) NULL,
	[MODUSER] [nvarchar](260) NULL,
 CONSTRAINT [PK_TASKTIMES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_TIMESTAT]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_TIMESTAT] AS
WITH 
CTE AS (
	SELECT *, ROW_NUMBER() OVER (PARTITION BY TASKID ORDER BY TIME) RN  FROM TASKTIMES
)
,CTE_WORKTIME AS (
	SELECT C1.TASKID,  DATEDIFF(SECOND, C1.TIME, ISNULL(C2.TIME, GETDATE())) [TIME] FROM CTE C1
	LEFT JOIN CTE C2 ON C1.RN + 1 = C2.RN AND C1.TASKID = C2.TASKID
	WHERE C1.TYPE NOT IN (3,1)
)
,CTE_SUSPENDTIME AS (
	SELECT C1.TASKID,  DATEDIFF(SECOND, C1.TIME, ISNULL(C2.TIME, GETDATE())) [TIME] FROM CTE C1
	LEFT JOIN CTE C2 ON C1.RN + 1 = C2.RN AND C1.TASKID = C2.TASKID
	WHERE C1.TYPE = 1
)
,CTE_START AS (
	SELECT TASKID, [TIME] FROM TASKTIMES WHERE [TYPE] = 0
)
,CTE_END AS (
	SELECT TASKID, [TIME], TYPE, ROW_NUMBER() OVER (PARTITION BY TASKID ORDER BY TIME DESC) RN FROM TASKTIMES
)
,CTE_STAT AS (
	SELECT ID TASKID, PROJECTID, ACCOUNTID, SUM(WT.TIME) WORKTIME, ISNULL(SUM(ST.TIME), 0) SUSPENDTIME
	FROM TASKS T
	JOIN CTE_WORKTIME WT ON T.ID = WT.TASKID  
	LEFT JOIN CTE_SUSPENDTIME ST ON T.ID = ST.TASKID  
	GROUP BY ID, PROJECTID, ACCOUNTID
)
SELECT CTE_STAT.*, ESTIMATESTART, CS.[TIME] STARTTIME,  ESTIMATEEND, CE.[TIME] ENDTIME,
	CASE 
		WHEN ESTIMATEEND IS NULL THEN 0
		WHEN DATEADD(DAY, 1, ESTIMATEEND) < ISNULL(CE.[TIME], GETDATE()) THEN 1
		WHEN DATEADD(DAY, 1, ESTIMATEEND) < ISNULL(CE.[TIME], GETDATE()) THEN 1
		ELSE 0
	END EXCEEDED
FROM CTE_STAT
JOIN TASKS T ON T.ID = CTE_STAT.TASKID
JOIN CTE_START CS ON T.ID = CS.TASKID  
LEFT JOIN CTE_END CE ON T.ID = CE.TASKID AND  CE.RN = 1 AND CE.TYPE = 3

GO
/****** Object:  Table [dbo].[TEAMS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](260) NULL,
	[INUSE] [bit] NOT NULL,
 CONSTRAINT [PK_TEAMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](260) NULL,
	[INUSE] [bit] NOT NULL,
	[TEAMID] [int] NOT NULL,
 CONSTRAINT [PK_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_PROJECTSTAT]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_PROJECTSTAT]
AS
WITH CTE_TASKSTATES AS (
	SELECT PROJECTID, [0] NEW, [1] ACTIVE, [2] [SUSPEND], [3] [COMPLETE] FROM (
		SELECT PROJECTID, [STATE] FROM TASKS
	) T
	PIVOT (
	COUNT([STATE])
	FOR STATE IN ([0], [1], [2], [3])) PIV
)
, CTE_TIME AS (
	SELECT PROJECTID, SUM(WORKTIME) WORKTIME, SUM(DATEDIFF(SECOND, ESTIMATESTART, DATEADD(DAY,1,ESTIMATEEND))) ESTIMATEWORKTIME, 
		   (1 - (SUM(EXCEEDED+0.0)/COUNT(1)))*100 PUNCTUALITY 
	FROM V_TIMESTAT
	GROUP BY PROJECTID
)
SELECT P.ID PROJECTID, P.NAME, P.DESCRIPTION, TS.NEW, TS.ACTIVE, TS.SUSPEND, TS.COMPLETE, 
	CASE 
		WHEN TS.ACTIVE > 0 THEN 1
		WHEN TS.SUSPEND > 0 THEN 2
		WHEN TS.COMPLETE > 0 THEN 3
		ELSE 0
	END [STATE],
	TEAMS.NAME TEAM,
	ISNULL(CTE_TIME.WORKTIME, 0.0) / 3600.0 WORKTIME,
	ISNULL(CTE_TIME.ESTIMATEWORKTIME, 0.0) / 3600.0 ESTIMATEWORKTIME,
	ISNULL(PUNCTUALITY,100) PUNCTUALITY
FROM PROJECTS P
JOIN CTE_TASKSTATES TS ON TS.PROJECTID = P.ID 
LEFT JOIN CTE_TIME ON CTE_TIME.PROJECTID = P.ID 
JOIN TEAMS ON TEAMID = TEAMS.ID 

GO
/****** Object:  Table [dbo].[TEAMACCOUNTS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAMACCOUNTS](
	[ACCOUNTID] [int] NOT NULL,
	[TEAMID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](200) NULL,
 CONSTRAINT [PK_ACCOUNT_TEAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ACCOUNTSTAT]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_ACCOUNTSTAT] 
AS
WITH CTE_TASKS AS (
	SELECT ACCOUNTID, COUNT(*) TASKCOUNT FROM TASKS
	WHERE ACCOUNTID IS NOT NULL
	GROUP BY ACCOUNTID
)
,CTE_PROJECTS AS (
	SELECT ACCOUNTID, COUNT(1) PROJECTCOUNT FROM TEAMACCOUNTS
	JOIN PROJECTS ON PROJECTS.TEAMID = TEAMACCOUNTS.TEAMID
	GROUP BY ACCOUNTID
)
,CTE_TIMES AS (
	SELECT ACCOUNTID, SUM(WORKTIME) WORKTIME, SUM(DATEDIFF(SECOND, ESTIMATESTART, DATEADD(DAY,1,ESTIMATEEND))) ESTIMATEWORKTIME, 
		   (1 - (SUM(EXCEEDED+0.0)/COUNT(1)))*100 PUNCTUALITY 
	FROM V_TIMESTAT
	GROUP BY ACCOUNTID
)
SELECT NAME + ' ' + SURNAME DISPLAYNAME, WORKTIME / 3600.0 WORKTIME, ESTIMATEWORKTIME / 3600.0 ESTIMATEWORKTIME, PUNCTUALITY, TASKCOUNT, PROJECTCOUNT FROM CTE_TIMES
JOIN CTE_PROJECTS ON CTE_PROJECTS.ACCOUNTID = CTE_TIMES.ACCOUNTID
JOIN CTE_TASKS ON CTE_TASKS.ACCOUNTID = CTE_TIMES.ACCOUNTID
JOIN MGMNT.ACCOUNTS ON ACCOUNTS.ID = CTE_TASKS.ACCOUNTID
GO
/****** Object:  Table [dbo].[RESOURCES]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESOURCES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](260) NULL,
	[INUSE] [bit] NOT NULL,
 CONSTRAINT [PK_RESOURCES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_RESOURCES]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_RESOURCES]
AS
	SELECT ID, NAME, DESCRIPTION, INUSE FROM RESOURCES
GO
/****** Object:  View [dbo].[V_PROJECTS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_PROJECTS]
AS
	SELECT 
		P.ID, 
		P.NAME, 
		P.DESCRIPTION, 
		T.NAME TEAM,
		P.INUSE 
	FROM PROJECTS P
	JOIN TEAMS T ON T.ID = P.TEAMID
GO
/****** Object:  View [dbo].[V_TEAMS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_TEAMS]
AS
	SELECT ID, NAME, DESCRIPTION, INUSE FROM TEAMS
GO
/****** Object:  Table [HST].[PATHS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HST].[PATHS](
	[TABLENAME] [nvarchar](260) NOT NULL,
	[COLUMNNAME] [nvarchar](128) NOT NULL,
	[VALUE] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PATHS] PRIMARY KEY CLUSTERED 
(
	[TABLENAME] ASC,
	[COLUMNNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HST].[AREAS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HST].[AREAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VALUE] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AREAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HST].[VALUES]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HST].[VALUES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VALUE] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VALUES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HST].[ELEMENTVALUES]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HST].[ELEMENTVALUES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROWID] [int] NOT NULL,
	[TABLENAME] [nvarchar](260) NOT NULL,
	[VALUE] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ELEMENTVALUES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HST].[ELEMENTS]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HST].[ELEMENTS](
	[ROWID] [int] NOT NULL,
	[TABLENAME] [nvarchar](260) NOT NULL,
	[LENGTH] [tinyint] NOT NULL,
	[ELEMENT0] [int] NULL,
	[ELEMENT1] [int] NULL,
	[ELEMENT2] [int] NULL,
 CONSTRAINT [PK_ELEMENTS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC,
	[TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HST].[VALUESHISTORY]    Script Date: 14.01.2020 09:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HST].[VALUESHISTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODUSER] [nvarchar](260) NOT NULL,
	[MODUSERNAME] [nvarchar](100) NULL,
	[MODUSERSURNAME] [nvarchar](100) NULL,
	[MODCOMP] [nvarchar](200) NOT NULL,
	[MODTYPE] [tinyint] NOT NULL,
	[AREAID] [int] NOT NULL,
	[TABLENAME] [nvarchar](260) NOT NULL,
	[COLUMNNAME] [nvarchar](128) NOT NULL,
	[ROWID] [int] NOT NULL,
	[OLDVALUEID] [int] NULL,
	[NEWVALUEID] [int] NULL,
	[MODDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_VALUESHISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [HST].[V_VALUESHISTORY]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [HST].[V_VALUESHISTORY]
AS
	SELECT
		 VH.MODUSER,
		 COALESCE(IIF(VH.MODUSERNAME IS NOT NULL AND VH.MODUSERSURNAME IS NOT NULL, VH.MODUSERNAME + ' ' + VH.MODUSERSURNAME, NULL), VH.MODUSERNAME, VH.MODUSERSURNAME) MODUSERDISPLAYNAME,
		 VH.MODDATE,
		 VH.MODCOMP,
		 VH.MODTYPE,
		 A.VALUE AREA,
		 CASE
			WHEN E.LENGTH = 1
				THEN EV0.VALUE
			WHEN E.LENGTH = 2
				THEN EV0.VALUE + ' -> ' + EV1.VALUE
			WHEN E.LENGTH = 3
				THEN EV0.VALUE + ' -> ' + EV1.VALUE + ' -> ' + EV2.VALUE
		 END ELEMENT,
		 P.VALUE [PATH],
		 OV.VALUE OLDVALUE,
		 NV.VALUE NEWVALUE
	FROM HST.VALUESHISTORY VH
	JOIN HST.AREAS A ON A.ID = VH.AREAID
	JOIN HST.PATHS P ON P.TABLENAME = VH.TABLENAME AND P.COLUMNNAME = VH.COLUMNNAME
	JOIN HST.[ELEMENTS] E ON E.TABLENAME = VH.TABLENAME AND E.ROWID = VH.ROWID
	JOIN HST.ELEMENTVALUES EV0 ON EV0.ID = E.ELEMENT0
	LEFT JOIN HST.ELEMENTVALUES EV1 ON EV1.ID = E.ELEMENT1
	LEFT JOIN HST.ELEMENTVALUES EV2 ON EV2.ID = E.ELEMENT2
	LEFT JOIN HST.[VALUES] OV ON OV.ID = VH.OLDVALUEID
	LEFT JOIN HST.[VALUES] NV ON NV.ID = VH.NEWVALUEID
GO
/****** Object:  Table [dbo].[PROJECTRESOURCES]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTRESOURCES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECTID] [int] NOT NULL,
	[RESOURCEID] [int] NOT NULL,
	[COUNT] [decimal](16, 2) NOT NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](260) NULL,
 CONSTRAINT [PK_RESOURCEFORPROJECT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKRESOURCES]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKRESOURCES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASKID] [int] NOT NULL,
	[RESOURCEID] [int] NOT NULL,
	[COUNT] [decimal](16, 2) NOT NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](260) NULL,
 CONSTRAINT [PK_RESOURCEFORTASK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MGMNT].[REGISTRY]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MGMNT].[REGISTRY](
	[NAME] [nvarchar](255) NOT NULL,
	[TYPE] [nvarchar](100) NOT NULL,
	[DATA] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_REGISTRY] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [HST].[VALUESHISTORY] ADD  DEFAULT (getdate()) FOR [MODDATE]
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ADD  CONSTRAINT [DF_ACCOUNTS_PERMISSIONS]  DEFAULT ((0)) FOR [PERMISSIONS]
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ADD  CONSTRAINT [DF_ACCOUNTS_TYPE]  DEFAULT ((0)) FOR [TYPE]
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ADD  CONSTRAINT [DF_ACCOUNTS_ISLOCKED]  DEFAULT ((0)) FOR [ISLOCKED]
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ADD  CONSTRAINT [DF_ACCOUNTS_INUSE]  DEFAULT ((1)) FOR [INUSE]
GO
ALTER TABLE [dbo].[PROJECTRESOURCES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCEFORPROJECT_PROJECTS] FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PROJECTS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROJECTRESOURCES] CHECK CONSTRAINT [FK_RESOURCEFORPROJECT_PROJECTS]
GO
ALTER TABLE [dbo].[PROJECTRESOURCES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCEFORPROJECT_RESOURCES] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[RESOURCES] ([ID])
GO
ALTER TABLE [dbo].[PROJECTRESOURCES] CHECK CONSTRAINT [FK_RESOURCEFORPROJECT_RESOURCES]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_TEAMS] FOREIGN KEY([TEAMID])
REFERENCES [dbo].[TEAMS] ([ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_TEAMS]
GO
ALTER TABLE [dbo].[TASKRESOURCES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCEFORTASK_RESOURCES] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[RESOURCES] ([ID])
GO
ALTER TABLE [dbo].[TASKRESOURCES] CHECK CONSTRAINT [FK_RESOURCEFORTASK_RESOURCES]
GO
ALTER TABLE [dbo].[TASKRESOURCES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCEFORTASK_TASKS] FOREIGN KEY([TASKID])
REFERENCES [dbo].[TASKS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TASKRESOURCES] CHECK CONSTRAINT [FK_RESOURCEFORTASK_TASKS]
GO
ALTER TABLE [dbo].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_TASKS_ACCOUNTS] FOREIGN KEY([ACCOUNTID])
REFERENCES [MGMNT].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[TASKS] CHECK CONSTRAINT [FK_TASKS_ACCOUNTS]
GO
ALTER TABLE [dbo].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_TASKS_PROJECTS] FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PROJECTS] ([ID])
GO
ALTER TABLE [dbo].[TASKS] CHECK CONSTRAINT [FK_TASKS_PROJECTS]
GO
ALTER TABLE [dbo].[TASKTIMES]  WITH CHECK ADD  CONSTRAINT [FK_TASKTIMES_TASKS] FOREIGN KEY([TASKID])
REFERENCES [dbo].[TASKS] ([ID])
GO
ALTER TABLE [dbo].[TASKTIMES] CHECK CONSTRAINT [FK_TASKTIMES_TASKS]
GO
ALTER TABLE [dbo].[TEAMACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_TEAM_ACCOUNTS] FOREIGN KEY([ACCOUNTID])
REFERENCES [MGMNT].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[TEAMACCOUNTS] CHECK CONSTRAINT [FK_ACCOUNT_TEAM_ACCOUNTS]
GO
ALTER TABLE [dbo].[TEAMACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_TEAM_TEAMS] FOREIGN KEY([TEAMID])
REFERENCES [dbo].[TEAMS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TEAMACCOUNTS] CHECK CONSTRAINT [FK_ACCOUNT_TEAM_TEAMS]
GO
ALTER TABLE [HST].[ELEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ELEMENTS_ELEMENTVALUES] FOREIGN KEY([ELEMENT0])
REFERENCES [HST].[ELEMENTVALUES] ([ID])
GO
ALTER TABLE [HST].[ELEMENTS] CHECK CONSTRAINT [FK_ELEMENTS_ELEMENTVALUES]
GO
ALTER TABLE [HST].[ELEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ELEMENTS_ELEMENTVALUES1] FOREIGN KEY([ELEMENT1])
REFERENCES [HST].[ELEMENTVALUES] ([ID])
GO
ALTER TABLE [HST].[ELEMENTS] CHECK CONSTRAINT [FK_ELEMENTS_ELEMENTVALUES1]
GO
ALTER TABLE [HST].[ELEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ELEMENTS_ELEMENTVALUES2] FOREIGN KEY([ELEMENT2])
REFERENCES [HST].[ELEMENTVALUES] ([ID])
GO
ALTER TABLE [HST].[ELEMENTS] CHECK CONSTRAINT [FK_ELEMENTS_ELEMENTVALUES2]
GO
ALTER TABLE [HST].[VALUESHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VALUESHISTORY_AREAS] FOREIGN KEY([AREAID])
REFERENCES [HST].[AREAS] ([ID])
GO
ALTER TABLE [HST].[VALUESHISTORY] CHECK CONSTRAINT [FK_VALUESHISTORY_AREAS]
GO
ALTER TABLE [HST].[VALUESHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VALUESHISTORY_ELEMENTS] FOREIGN KEY([ROWID], [TABLENAME])
REFERENCES [HST].[ELEMENTS] ([ROWID], [TABLENAME])
GO
ALTER TABLE [HST].[VALUESHISTORY] CHECK CONSTRAINT [FK_VALUESHISTORY_ELEMENTS]
GO
ALTER TABLE [HST].[VALUESHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VALUESHISTORY_PATHS] FOREIGN KEY([TABLENAME], [COLUMNNAME])
REFERENCES [HST].[PATHS] ([TABLENAME], [COLUMNNAME])
GO
ALTER TABLE [HST].[VALUESHISTORY] CHECK CONSTRAINT [FK_VALUESHISTORY_PATHS]
GO
ALTER TABLE [HST].[VALUESHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VALUESHISTORY_VALUES] FOREIGN KEY([NEWVALUEID])
REFERENCES [HST].[VALUES] ([ID])
GO
ALTER TABLE [HST].[VALUESHISTORY] CHECK CONSTRAINT [FK_VALUESHISTORY_VALUES]
GO
ALTER TABLE [HST].[VALUESHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VALUESHISTORY_VALUES1] FOREIGN KEY([OLDVALUEID])
REFERENCES [HST].[VALUES] ([ID])
GO
ALTER TABLE [HST].[VALUESHISTORY] CHECK CONSTRAINT [FK_VALUESHISTORY_VALUES1]
GO
/****** Object:  StoredProcedure [MGMNT].[SetEdit]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [MGMNT].[SetEdit]
AS
BEGIN
	IF EXISTS(SELECT TOP 1 * FROM MGMNT.REGISTRY WHERE NAME = 'Edit')
	BEGIN
		DECLARE @data NVARCHAR(MAX) = (SELECT TOP 1 DATA FROM MGMNT.REGISTRY WHERE NAME = 'Edit');
		DECLARE @number INT = 0;
		IF @data LIKE '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].[0-9]%' AND TRY_CONVERT(INT, SUBSTRING(@data, 10, LEN(@data) - 9)) IS NOT NULL
			SET @number = CAST(SUBSTRING(@data, 10, LEN(@data) - 9) AS INT) + 1;
		UPDATE MGMNT.REGISTRY SET DATA = CONCAT(FORMAT( GETDATE(), 'yyyyMMdd'), '.', @number) WHERE NAME = 'Edit';
	END
	ELSE
		INSERT INTO MGMNT.REGISTRY(NAME, TYPE, DATA) VALUES ('Edit', 'String', CONCAT(FORMAT( GETDATE(), 'yyyyMMdd'), '.0'));
END
GO
/****** Object:  StoredProcedure [MGMNT].[SetVersion]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [MGMNT].[SetVersion]
	@major INT,
	@minor INT,
	@build INT,
	@revision INT
AS
BEGIN
	IF EXISTS(SELECT TOP 1 * FROM MGMNT.REGISTRY WHERE NAME = 'Version')
		UPDATE MGMNT.REGISTRY SET DATA = CONCAT(ISNULL(@major, 0), '.', ISNULL(@minor, 0), '.', ISNULL(@build, 0), '.', ISNULL(@revision, 0)) WHERE NAME = 'Version';
	ELSE
		INSERT INTO MGMNT.REGISTRY(NAME, TYPE, DATA) VALUES ('Version', 'String', CONCAT(ISNULL(@major, 0), '.', ISNULL(@minor, 0), '.', ISNULL(@build, 0), '.', ISNULL(@revision, 0)));
END
GO
/****** Object:  Trigger [dbo].[TR_PROJECTS_History_Delete]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_PROJECTS_History_Delete]
   ON [dbo].[PROJECTS] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'PROJECTS' TABLENAME, 
		D.[NAME] [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'PROJECTS')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		D.ID,
		'PROJECTS',
		1,
		EV.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = D.ID AND EV.TABLENAME = 'PROJECTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'PROJECTS')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		2 AREAID,
		'PROJECTS' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [dbo].[PROJECTS] ENABLE TRIGGER [TR_PROJECTS_History_Delete]
GO
/****** Object:  Trigger [dbo].[TR_PROJECTS_History_Insert]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_PROJECTS_History_Insert]
   ON [dbo].[PROJECTS] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'PROJECTS', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'PROJECTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'PROJECTS'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, [DESCRIPTION] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'TEAMID' COLUMNNAME, T.[NAME] [VALUE] 
		FROM inserted I 
		JOIN TEAMS T ON T.ID = I.TEAMID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'TEAMID' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TEAMID'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [dbo].[PROJECTS] ENABLE TRIGGER [TR_PROJECTS_History_Insert]
GO
/****** Object:  Trigger [dbo].[TR_PROJECTS_History_Update]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_PROJECTS_History_Update]
   ON [dbo].[PROJECTS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'PROJECTS' TABLENAME, I.[NAME] [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'PROJECTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'PROJECTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'PROJECTS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 1 ISNEW, I.[DESCRIPTION] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
		AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT I.ID, 'TEAMID' COLUMNNAME, 1 ISNEW, T.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		JOIN TEAMS T ON T.ID = I.TEAMID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 0 ISNEW, D.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.[DESCRIPTION] IS NOT NULL
		AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT I.ID, 'TEAMID' COLUMNNAME, 0 ISNEW, T.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		JOIN TEAMS T ON T.ID = D.TEAMID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TEAMID != D.TEAMID
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'DESCRIPTION' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'TEAMID' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TEAMID' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'TEAMID' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TEAMID != D.TEAMID
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [dbo].[PROJECTS] ENABLE TRIGGER [TR_PROJECTS_History_Update]
GO
/****** Object:  Trigger [dbo].[TR_RESOURCES_History_Delete]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_RESOURCES_History_Delete]
   ON [dbo].[RESOURCES] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT D.ID ROWID, 'RESOURCES' TABLENAME, D.NAME [VALUE] FROM deleted D									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE]);

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		D.ID,
		'RESOURCES',
		1,
		EV.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = D.ID AND EV.TABLENAME = 'RESOURCES'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'RESOURCES')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		3 AREAID,
		'RESOURCES' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [dbo].[RESOURCES] ENABLE TRIGGER [TR_RESOURCES_History_Delete]
GO
/****** Object:  Trigger [dbo].[TR_RESOURCES_History_Insert]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_RESOURCES_History_Insert]
   ON [dbo].[RESOURCES] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'RESOURCES', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, LENGTH, ELEMENT0)
	SELECT
		I.ID,
		'RESOURCES',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'RESOURCES'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, I.[DESCRIPTION] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [dbo].[RESOURCES] ENABLE TRIGGER [TR_RESOURCES_History_Insert]
GO
/****** Object:  Trigger [dbo].[TR_RESOURCES_History_Update]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_RESOURCES_History_Update]
   ON [dbo].[RESOURCES] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'RESOURCES' TABLENAME, I.NAME [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'RESOURCES',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'RESOURCES'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'RESOURCES')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 1 ISNEW, I.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
		AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 0 ISNEW, D.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.[DESCRIPTION] IS NOT NULL
		AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'DESCRIPTION' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [dbo].[RESOURCES] ENABLE TRIGGER [TR_RESOURCES_History_Update]
GO
/****** Object:  Trigger [dbo].[TR_TASKS_History_Delete]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[TR_TASKS_History_Delete]
   ON [dbo].[TASKS] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'TASKS' TABLENAME, 
		D.[NAME] [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'TASKS')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0, ELEMENT1)
	SELECT
		D.ID,
		'TASKS',
		1,
		EV0.ID,
		EV1.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV0 ON EV0.ROWID = D.PROJECTID AND EV0.TABLENAME = 'PROJECTS'
	JOIN HST.ELEMENTVALUES EV1 ON EV1.ROWID = D.ID AND EV1.TABLENAME = 'TASKS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'TASKS')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		1 AREAID,
		'TASKS' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [dbo].[TASKS] ENABLE TRIGGER [TR_TASKS_History_Delete]
GO
/****** Object:  Trigger [dbo].[TR_TASKS_History_Insert]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TR_TASKS_History_Insert]
   ON [dbo].[TASKS] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'TASKS', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0, ELEMENT1)
	SELECT
		I.ID,
		'TASKS',
		2,
		EV0.ID,
		EV1.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV0 ON EV0.ROWID = I.PROJECTID AND EV0.TABLENAME = 'PROJECTS'
	JOIN HST.ELEMENTVALUES EV1 ON EV1.ROWID = I.ID AND EV1.TABLENAME = 'TASKS'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, [DESCRIPTION] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'ESTIMATESTART' COLUMNNAME, CONVERT(NVARCHAR(MAX), [ESTIMATESTART], 20) [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[ESTIMATESTART] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'ESTIMATEEND' COLUMNNAME, CONVERT(NVARCHAR(MAX), [ESTIMATEEND], 20) [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[ESTIMATEEND] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'ACCOUNTID' COLUMNNAME, A.[NAME] + ' ' + A.SURNAME [VALUE] 
		FROM inserted I 
		JOIN MGMNT.ACCOUNTS A ON A.ID = I.ACCOUNTID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'ESTIMATESTART' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'ESTIMATESTART'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'ESTIMATEEND' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'ESTIMATEEND'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'ACCOUNTID' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'ACCOUNTID'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'STATE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			CASE
				WHEN I.STATE = 0 THEN 5
				WHEN I.STATE = 1 THEN 6
				WHEN I.STATE = 2 THEN 7
				WHEN I.STATE = 3 THEN 8
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [dbo].[TASKS] ENABLE TRIGGER [TR_TASKS_History_Insert]
GO
/****** Object:  Trigger [dbo].[TR_TASKS_History_Update]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[TR_TASKS_History_Update]
   ON [dbo].[TASKS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'TASKS' TABLENAME, I.[NAME] [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0, ELEMENT1)
	SELECT
		I.ID,
		'TASKS',
		2,
		EV0.ID,
		EV1.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV0 ON EV0.ROWID = I.PROJECTID AND EV0.TABLENAME = 'PROJECTS'
	JOIN HST.ELEMENTVALUES EV1 ON EV1.ROWID = I.ID AND EV1.TABLENAME = 'TASKS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'TASKS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 1 ISNEW, I.[DESCRIPTION] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
		AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT I.ID, 'ESTIMATESTART' COLUMNNAME, 1 ISNEW, CONVERT(NVARCHAR(MAX), I.[ESTIMATESTART], 20) [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[ESTIMATESTART] IS NOT NULL
		AND NOT EXISTS (SELECT I.[ESTIMATESTART] INTERSECT SELECT D.[ESTIMATESTART])
		UNION ALL
		SELECT I.ID, 'ESTIMATEEND' COLUMNNAME, 1 ISNEW, CONVERT(NVARCHAR(MAX), I.[ESTIMATEEND], 20) [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[ESTIMATEEND] IS NOT NULL
		AND NOT EXISTS (SELECT I.[ESTIMATEEND] INTERSECT SELECT D.[ESTIMATEEND])
		UNION ALL
		SELECT I.ID, 'ACCOUNTID' COLUMNNAME, 1 ISNEW, A.[NAME] + ' ' + A.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		JOIN MGMNT.ACCOUNTS A ON A.ID = I.ACCOUNTID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ACCOUNTID IS NOT NULL
		AND NOT EXISTS (SELECT I.ACCOUNTID INTERSECT SELECT D.ACCOUNTID)
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ACCOUNTID != D.ACCOUNTID
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 0 ISNEW, D.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.[DESCRIPTION] IS NOT NULL
		AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT I.ID, 'ESTIMATESTART' COLUMNNAME, 0 ISNEW, CONVERT(NVARCHAR(MAX), D.[ESTIMATESTART], 20) [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.[ESTIMATESTART] IS NOT NULL
		AND NOT EXISTS (SELECT I.[ESTIMATESTART] INTERSECT SELECT D.[ESTIMATESTART])
		UNION ALL
		SELECT I.ID, 'ESTIMATEEND' COLUMNNAME, 0 ISNEW, CONVERT(NVARCHAR(MAX), D.[ESTIMATEEND], 20) [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.[ESTIMATEEND] IS NOT NULL
		AND NOT EXISTS (SELECT I.[ESTIMATEEND] INTERSECT SELECT D.[ESTIMATEEND])
		UNION ALL
		SELECT I.ID, 'ACCOUNTID' COLUMNNAME, 0 ISNEW, A.[NAME] + ' ' + A.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		JOIN MGMNT.ACCOUNTS A ON A.ID = D.ACCOUNTID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.ACCOUNTID IS NOT NULL
		AND NOT EXISTS (SELECT I.ACCOUNTID INTERSECT SELECT D.ACCOUNTID)
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'DESCRIPTION' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'ESTIMATESTART' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'ESTIMATESTART' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'ESTIMATESTART' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[ESTIMATESTART] != D.[ESTIMATESTART]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'ESTIMATEEND' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'ESTIMATEEND' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'ESTIMATEEND' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.[ESTIMATEEND] INTERSECT SELECT D.[ESTIMATEEND])
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'ACCOUNTID' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'ACCOUNTID' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'ACCOUNTID' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ACCOUNTID != D.ACCOUNTID
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'STATE' [COLUMNNAME],
			I.ID ROWID,
			CASE
				WHEN D.STATE = 0 THEN 5
				WHEN D.STATE = 1 THEN 6
				WHEN D.STATE = 2 THEN 7
				WHEN D.STATE = 3 THEN 8
				ELSE NULL
			END OLDVALUEID,
			CASE
				WHEN I.STATE = 0 THEN 5
				WHEN I.STATE = 1 THEN 6
				WHEN I.STATE = 2 THEN 7
				WHEN I.STATE = 3 THEN 8
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.STATE != D.STATE
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [dbo].[TASKS] ENABLE TRIGGER [TR_TASKS_History_Update]
GO
/****** Object:  Trigger [dbo].[TR_TEAMS_History_Delete]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_TEAMS_History_Delete]
   ON [dbo].[TEAMS] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'TEAMS' TABLENAME, 
		D.[NAME] [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'TEAMS')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		D.ID,
		'TEAMS',
		1,
		EV.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = D.ID AND EV.TABLENAME = 'TEAMS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'TEAMS')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		5 AREAID,
		'TEAMS' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [dbo].[TEAMS] ENABLE TRIGGER [TR_TEAMS_History_Delete]
GO
/****** Object:  Trigger [dbo].[TR_TEAMS_History_Insert]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_TEAMS_History_Insert]
   ON [dbo].[TEAMS] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'TEAMS', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'TEAMS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'TEAMS'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, [DESCRIPTION] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [dbo].[TEAMS] ENABLE TRIGGER [TR_TEAMS_History_Insert]
GO
/****** Object:  Trigger [dbo].[TR_TEAMS_History_Update]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[TR_TEAMS_History_Update]
   ON [dbo].[TEAMS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'TEAMS' TABLENAME, I.[NAME] [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'TEAMS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'TEAMS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'TEAMS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 1 ISNEW, I.[DESCRIPTION] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
		AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 0 ISNEW, D.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.[DESCRIPTION] IS NOT NULL
		AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'DESCRIPTION' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.[DESCRIPTION] INTERSECT SELECT D.[DESCRIPTION])
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [dbo].[TEAMS] ENABLE TRIGGER [TR_TEAMS_History_Update]
GO
/****** Object:  Trigger [MGMNT].[TR_ACCOUNTS_History_Delete]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [MGMNT].[TR_ACCOUNTS_History_Delete]
   ON [MGMNT].[ACCOUNTS] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'MGMNT.ACCOUNTS' TABLENAME, 
		D.USERNAME [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		D.ID,
		'MGMNT.ACCOUNTS',
		1,
		EV.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = D.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'MGMNT.ACCOUNTS')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		4 AREAID,
		'MGMNT.ACCOUNTS' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ENABLE TRIGGER [TR_ACCOUNTS_History_Delete]
GO
/****** Object:  Trigger [MGMNT].[TR_ACCOUNTS_History_Insert]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [MGMNT].[TR_ACCOUNTS_History_Insert]
   ON [MGMNT].[ACCOUNTS] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'MGMNT.ACCOUNTS', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'MGMNT.ACCOUNTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'USERNAME' COLUMNNAME, I.USERNAME [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME IS NOT NULL
		UNION ALL
		SELECT I.ID, 'PERMISSIONS' COLUMNNAME, CONVERT(NVARCHAR(MAX), I.[PERMISSIONS], 1) [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'TITLE' COLUMNNAME, I.TITLE [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TITLE IS NOT NULL
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'SURNAME' COLUMNNAME, I.SURNAME [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.SURNAME IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'USERNAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'USERNAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'PERMISSIONS' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'PERMISSIONS'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TYPE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			CASE
				WHEN I.TYPE = 0 THEN 3
				WHEN I.TYPE = 1 THEN 4
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TITLE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TITLE'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'SURNAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'SURNAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'ISLOCKED' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.ISLOCKED = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ENABLE TRIGGER [TR_ACCOUNTS_History_Insert]
GO
/****** Object:  Trigger [MGMNT].[TR_ACCOUNTS_History_Update]    Script Date: 14.01.2020 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE OR ALTER date: <CREATE OR ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [MGMNT].[TR_ACCOUNTS_History_Update]
   ON [MGMNT].[ACCOUNTS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'MGMNT.ACCOUNTS' TABLENAME, I.USERNAME [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'MGMNT.ACCOUNTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'MGMNT.ACCOUNTS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'USERNAME' COLUMNNAME, 1 ISNEW, I.USERNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT I.ID, 'PERMISSIONS' COLUMNNAME, 1 ISNEW, CONVERT(NVARCHAR(MAX), I.[PERMISSIONS], 1) [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT I.ID, 'TITLE' COLUMNNAME, 1 ISNEW, I.TITLE [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TITLE IS NOT NULL
		AND NOT EXISTS (SELECT I.TITLE INTERSECT SELECT D.TITLE)
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		AND NOT EXISTS (SELECT I.[NAME] INTERSECT SELECT D.[NAME])
		UNION ALL
		SELECT I.ID, 'SURNAME' COLUMNNAME, 1 ISNEW, I.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.SURNAME IS NOT NULL
		AND NOT EXISTS (SELECT I.SURNAME INTERSECT SELECT D.SURNAME)
		UNION ALL
		SELECT I.ID, 'USERNAME' COLUMNNAME, 0 ISNEW, D.USERNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT I.ID, 'PERMISSIONS' COLUMNNAME, 0 ISNEW, CONVERT(NVARCHAR(MAX), D.[PERMISSIONS], 1) [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT I.ID, 'TITLE' COLUMNNAME, 0 ISNEW, D.TITLE [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.TITLE IS NOT NULL
		AND NOT EXISTS (SELECT I.TITLE INTERSECT SELECT D.TITLE)
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.[NAME] IS NOT NULL
		AND NOT EXISTS (SELECT I.[NAME] INTERSECT SELECT D.[NAME])
		UNION ALL
		SELECT I.ID, 'SURNAME' COLUMNNAME, 0 ISNEW, D.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.SURNAME IS NOT NULL
		AND NOT EXISTS (SELECT I.SURNAME INTERSECT SELECT D.SURNAME)
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'USERNAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'USERNAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'USERNAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'PERMISSIONS' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'PERMISSIONS' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'PERMISSIONS' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TYPE' [COLUMNNAME],
			I.ID ROWID,
			CASE
				WHEN D.TYPE = 0 THEN 3
				WHEN D.TYPE = 1 THEN 4
				ELSE NULL
			END OLDVALUEID,
			CASE
				WHEN I.TYPE = 0 THEN 3
				WHEN I.TYPE = 1 THEN 4
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TYPE != D.TYPE
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TITLE' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TITLE' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'TITLE' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.TITLE INTERSECT SELECT D.TITLE)
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.NAME INTERSECT SELECT D.NAME)
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'SURNAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'SURNAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'SURNAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.SURNAME INTERSECT SELECT D.SURNAME)
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'ISLOCKED' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.ISLOCKED = 1, 1, 2) OLDVALUEID,
			IIF(I.ISLOCKED = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ISLOCKED != D.ISLOCKED
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ENABLE TRIGGER [TR_ACCOUNTS_History_Update]

GO
GO
SET IDENTITY_INSERT [HST].[AREAS] ON 
GO
INSERT [HST].[AREAS] ([ID], [VALUE]) VALUES (1, N'Zadania')
GO
INSERT [HST].[AREAS] ([ID], [VALUE]) VALUES (2, N'Projekty')
GO
INSERT [HST].[AREAS] ([ID], [VALUE]) VALUES (3, N'Zasoby')
GO
SET IDENTITY_INSERT [HST].[AREAS] OFF
GO
INSERT [HST].[PATHS] ([TABLENAME], [COLUMNNAME], [VALUE]) VALUES (N'MGMNT.ACCOUNTS', N'ID', N'Konto użytkownika')
GO
INSERT [HST].[PATHS] ([TABLENAME], [COLUMNNAME], [VALUE]) VALUES (N'MGMNT.ACCOUNTS', N'INUSE', N'Konto użytkownika -> W użyciu')
GO
INSERT [HST].[PATHS] ([TABLENAME], [COLUMNNAME], [VALUE]) VALUES (N'MGMNT.ACCOUNTS', N'ISLOCKED', N'Konto użytkownika -> Zablokowane')
GO
SET IDENTITY_INSERT [HST].[VALUES] ON 
GO
INSERT [HST].[VALUES] ([ID], [VALUE]) VALUES (1, N'Tak')
GO
INSERT [HST].[VALUES] ([ID], [VALUE]) VALUES (2, N'Nie')
GO
INSERT [HST].[VALUES] ([ID], [VALUE]) VALUES (3, N'Wewnętrzne')
GO
SET IDENTITY_INSERT [HST].[VALUES] OFF
GO
INSERT [MGMNT].[REGISTRY] ([NAME], [TYPE], [DATA]) VALUES (N'Version', N'String', N'1.0.0.0')
GO
GO
USE [master]
GO