USE [WM]
GO
/****** Object:  Trigger [MGMNT].[TR_ACCOUNTS_History_Update]    Script Date: 13.01.2020 10:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [MGMNT].[TR_ACCOUNTS_History_Update]
   ON [MGMNT].[ACCOUNTS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'MGMNT.ACCOUNTS' TABLENAME, I.USERNAME [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'MGMNT.ACCOUNTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'MGMNT.ACCOUNTS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'USERNAME' COLUMNNAME, 1 ISNEW, I.USERNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT I.ID, 'PERMISSIONS' COLUMNNAME, 1 ISNEW, CONVERT(NVARCHAR(MAX), I.[PERMISSIONS], 1) [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT I.ID, 'TITLE' COLUMNNAME, 1 ISNEW, I.TITLE [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TITLE IS NOT NULL
		AND NOT EXISTS (SELECT I.TITLE INTERSECT SELECT D.TITLE)
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		AND NOT EXISTS (SELECT I.[NAME] INTERSECT SELECT D.[NAME])
		UNION ALL
		SELECT I.ID, 'SURNAME' COLUMNNAME, 1 ISNEW, I.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.SURNAME IS NOT NULL
		AND NOT EXISTS (SELECT I.SURNAME INTERSECT SELECT D.SURNAME)
		UNION ALL
		SELECT I.ID, 'USERNAME' COLUMNNAME, 0 ISNEW, D.USERNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT I.ID, 'PERMISSIONS' COLUMNNAME, 0 ISNEW, CONVERT(NVARCHAR(MAX), D.[PERMISSIONS], 1) [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT I.ID, 'TITLE' COLUMNNAME, 0 ISNEW, D.TITLE [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.TITLE IS NOT NULL
		AND NOT EXISTS (SELECT I.TITLE INTERSECT SELECT D.TITLE)
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.[NAME] IS NOT NULL
		AND NOT EXISTS (SELECT I.[NAME] INTERSECT SELECT D.[NAME])
		UNION ALL
		SELECT I.ID, 'SURNAME' COLUMNNAME, 0 ISNEW, D.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND D.SURNAME IS NOT NULL
		AND NOT EXISTS (SELECT I.SURNAME INTERSECT SELECT D.SURNAME)
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'USERNAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'USERNAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'USERNAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'PERMISSIONS' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'PERMISSIONS' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'PERMISSIONS' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TYPE' [COLUMNNAME],
			I.ID ROWID,
			CASE
				WHEN D.TYPE = 0 THEN 3
				WHEN D.TYPE = 1 THEN 4
				ELSE NULL
			END OLDVALUEID,
			CASE
				WHEN I.TYPE = 0 THEN 3
				WHEN I.TYPE = 1 THEN 4
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TYPE != D.TYPE
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TITLE' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TITLE' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'TITLE' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.TITLE INTERSECT SELECT D.TITLE)
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.NAME INTERSECT SELECT D.NAME)
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'SURNAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'SURNAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'SURNAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND NOT EXISTS (SELECT I.SURNAME INTERSECT SELECT D.SURNAME)
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'ISLOCKED' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.ISLOCKED = 1, 1, 2) OLDVALUEID,
			IIF(I.ISLOCKED = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ISLOCKED != D.ISLOCKED
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END


EXEC sp_msforeachtable "ALTER TABLE ? NOCHECK CONSTRAINT all"
DELETE HST.PATHS;
INSERT INTO HST.PATHS (TABLENAME, COLUMNNAME, VALUE) VALUES 
('RESOURCES', 'ID', N'Zasób'),
('RESOURCES', 'NAME', N'Zasób -> Nazwa'),
('RESOURCES', 'DESCRIPTION', N'Zasób -> Opis'),
('RESOURCES', 'INUSE', N'Zasób -> W użyciu'),
('MGMNT.ACCOUNTS', 'ID', N'Konto użytkownika'),
('MGMNT.ACCOUNTS', 'USERNAME', N'Konto użytkownika -> Nazwa'),
('MGMNT.ACCOUNTS', 'PASSWORD', N'Konto użytkownika -> Hasło'),
('MGMNT.ACCOUNTS', 'PERMISSIONS', N'Konto użytkownika -> Uprawnienia'),
('MGMNT.ACCOUNTS', 'TYPE', N'Konto użytkownika -> Typ konta'),
('MGMNT.ACCOUNTS', 'TITLE', N'Konto użytkownika -> Tytuł'),
('MGMNT.ACCOUNTS', 'NAME', N'Konto użytkownika -> Imię'),
('MGMNT.ACCOUNTS', 'SURNAME', N'Konto użytkownika -> Nazwisko'),
('MGMNT.ACCOUNTS', 'ISLOCKED', N'Konto użytkownika -> Zablokowane'),
('MGMNT.ACCOUNTS', 'INUSE', N'Konto użytkownika -> W użyciu'),
('PROJECTS', 'ID', N'Projekt'),
('PROJECTS', 'NAME', N'Projekt -> Nazwa'),
('PROJECTS', 'DESCRIPTION', N'Projekt -> Opis'),
('PROJECTS', 'TEAMID', N'Projekt -> Zespół'),
('PROJECTS', 'INUSE', N'Projekt -> W użyciu'),
('PROJECTRESOURCES', 'ID', N'Projekt -> Zasób'),
('PROJECTRESOURCES', 'COUNT', N'Projekt -> Zasób -> Ilość'),
('TASKS', 'ID', N'Zadanie'),
('TASKS', 'NAME', N'Zadanie -> Nazwa'),
('TASKS', 'DESCRIPTION', N'Zadanie -> Opis'),
('TASKS', 'STATE', N'Zadanie -> Status'),
('TASKS', 'ESTIMATESTART', N'Zadanie -> Przewidwany początek'),
('TASKS', 'ESTIMATEEND', N'Zadanie -> Przewidywany koniec'),
('TASKS', 'ACCOUNTID', N'Zadanie -> Wykonawca'),
('TASKS', 'INUSE', N'Zadanie -> W użyciu'),
('TASKRESOURCES', 'ID', N'Zadanie -> Zasób'),
('TASKRESOURCES', 'COUNT', N'Zadanie -> Zasób -> Ilość'),
('TEAMS', 'ID', N'Zespół'),
('TEAMS', 'NAME', N'Zespół -> Nazwa'),
('TEAMS', 'DESCRIPTION', N'Zespół -> Opis'),
('TEAMS', 'INUSE', N'Zespół -> W użyciu'),
('TEAMACCOUNTS', 'ID', N'Zespół -> Członek zespołu')
GO
EXEC sp_msforeachtable "ALTER TABLE ? WITH CHECK CHECK CONSTRAINT all"