/****** Object:  Trigger [dbo].[TR_PROJECTS_History_Delete]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_PROJECTS_History_Delete]
   ON [dbo].[PROJECTS] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'PROJECTS' TABLENAME, 
		D.[NAME] [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'PROJECTS')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		D.ID,
		'PROJECTS',
		1,
		EV.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = D.ID AND EV.TABLENAME = 'PROJECTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'PROJECTS')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		2 AREAID,
		'PROJECTS' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [dbo].[PROJECTS] ENABLE TRIGGER [TR_PROJECTS_History_Delete]
GO
/****** Object:  Trigger [dbo].[TR_PROJECTS_History_Insert]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_PROJECTS_History_Insert]
   ON [dbo].[PROJECTS] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'PROJECTS', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'PROJECTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'PROJECTS'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, [DESCRIPTION] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'TEAMID' COLUMNNAME, T.[NAME] [VALUE] 
		FROM inserted I 
		JOIN TEAMS T ON T.ID = I.TEAMID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'TEAMID' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TEAMID'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [dbo].[PROJECTS] ENABLE TRIGGER [TR_PROJECTS_History_Insert]
GO
/****** Object:  Trigger [dbo].[TR_PROJECTS_History_Update]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_PROJECTS_History_Update]
   ON [dbo].[PROJECTS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'PROJECTS' TABLENAME, I.[NAME] [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'PROJECTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'PROJECTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'PROJECTS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 1 ISNEW, I.[DESCRIPTION] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT I.ID, 'TEAMID' COLUMNNAME, 1 ISNEW, T.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		JOIN TEAMS T ON T.ID = I.TEAMID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 0 ISNEW, D.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT I.ID, 'TEAMID' COLUMNNAME, 0 ISNEW, T.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		JOIN TEAMS T ON T.ID = D.TEAMID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TEAMID != D.TEAMID
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'DESCRIPTION' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'TEAMID' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TEAMID' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'TEAMID' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TEAMID != D.TEAMID
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			2 AREAID,
			'PROJECTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [dbo].[PROJECTS] ENABLE TRIGGER [TR_PROJECTS_History_Update]
GO
/****** Object:  Trigger [dbo].[TR_RESOURCES_History_Delete]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_RESOURCES_History_Delete]
   ON [dbo].[RESOURCES] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'RESOURCES' TABLENAME, 
		D.NAME [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'RESOURCES')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		D.ID,
		'RESOURCES',
		1,
		EV.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = D.ID AND EV.TABLENAME = 'RESOURCES'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'RESOURCES')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		3 AREAID,
		'RESOURCES' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [dbo].[RESOURCES] ENABLE TRIGGER [TR_RESOURCES_History_Delete]
GO
/****** Object:  Trigger [dbo].[TR_RESOURCES_History_Insert]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_RESOURCES_History_Insert]
   ON [dbo].[RESOURCES] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'RESOURCES', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, LENGTH, ELEMENT0)
	SELECT
		I.ID,
		'RESOURCES',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'RESOURCES'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, I.[DESCRIPTION] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [dbo].[RESOURCES] ENABLE TRIGGER [TR_RESOURCES_History_Insert]
GO
/****** Object:  Trigger [dbo].[TR_RESOURCES_History_Update]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_RESOURCES_History_Update]
   ON [dbo].[RESOURCES] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'RESOURCES' TABLENAME, I.NAME [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'RESOURCES',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'RESOURCES'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'RESOURCES')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 1 ISNEW, I.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 0 ISNEW, D.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'DESCRIPTION' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			3 AREAID,
			'RESOURCES' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [dbo].[RESOURCES] ENABLE TRIGGER [TR_RESOURCES_History_Update]
GO
/****** Object:  Trigger [dbo].[TR_TASKS_History_Delete]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_TASKS_History_Delete]
   ON [dbo].[TASKS] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'TASKS' TABLENAME, 
		D.[NAME] [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'TASKS')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0, ELEMENT1)
	SELECT
		D.ID,
		'TASKS',
		1,
		EV0.ID,
		EV1.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV0 ON EV0.ROWID = D.PROJECTID AND EV0.TABLENAME = 'PROJECTS'
	JOIN HST.ELEMENTVALUES EV1 ON EV1.ROWID = D.ID AND EV1.TABLENAME = 'TASKS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'TASKS')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		1 AREAID,
		'TASKS' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [dbo].[TASKS] ENABLE TRIGGER [TR_TASKS_History_Delete]
GO
/****** Object:  Trigger [dbo].[TR_TASKS_History_Insert]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[TR_TASKS_History_Insert]
   ON [dbo].[TASKS] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'TASKS', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0, ELEMENT1)
	SELECT
		I.ID,
		'TASKS',
		2,
		EV0.ID,
		EV1.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV0 ON EV0.ROWID = I.PROJECTID AND EV0.TABLENAME = 'PROJECTS'
	JOIN HST.ELEMENTVALUES EV1 ON EV1.ROWID = I.ID AND EV1.TABLENAME = 'TASKS'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, [DESCRIPTION] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'ACCOUNTID' COLUMNNAME, A.[NAME] + ' ' + A.SURNAME [VALUE] 
		FROM inserted I 
		JOIN MGMNT.ACCOUNTS A ON A.ID = I.ACCOUNTID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'ACCOUNTID' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'ACCOUNTID'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'STATE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			CASE
				WHEN I.STATE = 0 THEN 5
				WHEN I.STATE = 1 THEN 6
				WHEN I.STATE = 2 THEN 7
				WHEN I.STATE = 3 THEN 8
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [dbo].[TASKS] ENABLE TRIGGER [TR_TASKS_History_Insert]
GO
/****** Object:  Trigger [dbo].[TR_TASKS_History_Update]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_TASKS_History_Update]
   ON [dbo].[TASKS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'TASKS' TABLENAME, I.[NAME] [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0, ELEMENT1)
	SELECT
		I.ID,
		'TASKS',
		2,
		EV0.ID,
		EV1.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV0 ON EV0.ROWID = I.PROJECTID AND EV0.TABLENAME = 'PROJECTS'
	JOIN HST.ELEMENTVALUES EV1 ON EV1.ROWID = I.ID AND EV1.TABLENAME = 'TASKS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'TASKS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 1 ISNEW, I.[DESCRIPTION] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT I.ID, 'ACCOUNTID' COLUMNNAME, 1 ISNEW, A.[NAME] + ' ' + A.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		JOIN MGMNT.ACCOUNTS A ON A.ID = I.ACCOUNTID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ACCOUNTID != D.ACCOUNTID
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 0 ISNEW, D.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT I.ID, 'ACCOUNTID' COLUMNNAME, 0 ISNEW, A.[NAME] + ' ' + A.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		JOIN MGMNT.ACCOUNTS A ON A.ID = D.ACCOUNTID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ACCOUNTID != D.ACCOUNTID
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'DESCRIPTION' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'ACCOUNTID' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'ACCOUNTID' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'ACCOUNTID' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ACCOUNTID != D.ACCOUNTID
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'STATE' [COLUMNNAME],
			I.ID ROWID,
			CASE
				WHEN D.STATE = 0 THEN 5
				WHEN D.STATE = 1 THEN 6
				WHEN D.STATE = 2 THEN 7
				WHEN D.STATE = 3 THEN 8
				ELSE NULL
			END OLDVALUEID,
			CASE
				WHEN I.STATE = 0 THEN 5
				WHEN I.STATE = 1 THEN 6
				WHEN I.STATE = 2 THEN 7
				WHEN I.STATE = 3 THEN 8
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.STATE != D.STATE
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			1 AREAID,
			'TASKS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [dbo].[TASKS] ENABLE TRIGGER [TR_TASKS_History_Update]
GO
/****** Object:  Trigger [dbo].[TR_TEAMS_History_Delete]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_TEAMS_History_Delete]
   ON [dbo].[TEAMS] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'TEAMS' TABLENAME, 
		D.[NAME] [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'TEAMS')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		D.ID,
		'TEAMS',
		1,
		EV.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = D.ID AND EV.TABLENAME = 'TEAMS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'TEAMS')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		5 AREAID,
		'TEAMS' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [dbo].[TEAMS] ENABLE TRIGGER [TR_TEAMS_History_Delete]
GO
/****** Object:  Trigger [dbo].[TR_TEAMS_History_Insert]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_TEAMS_History_Insert]
   ON [dbo].[TEAMS] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'TEAMS', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'TEAMS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'TEAMS'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, [DESCRIPTION] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [dbo].[TEAMS] ENABLE TRIGGER [TR_TEAMS_History_Insert]
GO
/****** Object:  Trigger [dbo].[TR_TEAMS_History_Update]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_TEAMS_History_Update]
   ON [dbo].[TEAMS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'TEAMS' TABLENAME, I.[NAME] [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'TEAMS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'TEAMS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'TEAMS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 1 ISNEW, I.[DESCRIPTION] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'DESCRIPTION' COLUMNNAME, 0 ISNEW, D.[DESCRIPTION] [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'DESCRIPTION' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'DESCRIPTION' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'DESCRIPTION' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[DESCRIPTION] != D.[DESCRIPTION]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			5 AREAID,
			'TEAMS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [dbo].[TEAMS] ENABLE TRIGGER [TR_TEAMS_History_Update]
GO
/****** Object:  Trigger [MGMNT].[TR_ACCOUNTS_History_Delete]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [MGMNT].[TR_ACCOUNTS_History_Delete]
   ON [MGMNT].[ACCOUNTS] 
   AFTER DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES(ROWID, TABLENAME, [VALUE])
	SELECT 
		D.ID ROWID, 
		'MGMNT.ACCOUNTS' TABLENAME, 
		D.USERNAME [VALUE] 
	FROM deleted D
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTVALUES EV WHERE EV.ROWID = D.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS')

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		D.ID,
		'MGMNT.ACCOUNTS',
		1,
		EV.ID
	FROM deleted D
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = D.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = D.ID AND E.TABLENAME = 'MGMNT.ACCOUNTS')

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT 
		D.MODUSER,
		A.NAME,
		A.SURNAME,
		D.MODCOMP,
		2 MODTYPE,
		4 AREAID,
		'MGMNT.ACCOUNTS' [TABLENAME],
		'ID' [COLUMNNAME],
		D.ID ROWID,
		NULL OLDVALUEID,
		NULL NEWVALUEID
	FROM deleted D
	LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = D.MODUSER
END
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ENABLE TRIGGER [TR_ACCOUNTS_History_Delete]
GO
/****** Object:  Trigger [MGMNT].[TR_ACCOUNTS_History_Insert]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [MGMNT].[TR_ACCOUNTS_History_Insert]
   ON [MGMNT].[ACCOUNTS] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	INSERT INTO HST.ELEMENTVALUES (ROWID, TABLENAME, VALUE)
	SELECT I.ID, 'MGMNT.ACCOUNTS', I.NAME FROM inserted I;

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'MGMNT.ACCOUNTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS'

	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'USERNAME' COLUMNNAME, I.USERNAME [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME IS NOT NULL
		UNION ALL
		SELECT I.ID, 'PERMISSIONS' COLUMNNAME, CONVERT(NVARCHAR(MAX), I.[PERMISSIONS], 1) [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'TITLE' COLUMNNAME, I.TITLE [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TITLE IS NOT NULL
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, I.[NAME] [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] IS NOT NULL
		UNION ALL
		SELECT I.ID, 'SURNAME' COLUMNNAME, I.SURNAME [VALUE] FROM inserted I WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.SURNAME IS NOT NULL
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE])
	OUTPUT SRC.ID, SRC.COLUMNNAME, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'USERNAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'USERNAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'PERMISSIONS' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'PERMISSIONS'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TYPE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			CASE
				WHEN I.TYPE = 0 THEN 3
				WHEN I.TYPE = 1 THEN 4
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TITLE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TITLE'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'SURNAME' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'SURNAME'
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'ISLOCKED' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.ISLOCKED = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			0 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			NULL OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL
	) AS T 
END
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ENABLE TRIGGER [TR_ACCOUNTS_History_Insert]
GO
/****** Object:  Trigger [MGMNT].[TR_ACCOUNTS_History_Update]    Script Date: 13.01.2020 04:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [MGMNT].[TR_ACCOUNTS_History_Update]
   ON [MGMNT].[ACCOUNTS] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	MERGE HST.ELEMENTVALUES EV
	USING 
	(  
		SELECT I.ID ROWID, 'MGMNT.ACCOUNTS' TABLENAME, I.USERNAME [VALUE] FROM inserted I									
	) SRC ON (EV.ROWID = SRC.ROWID AND EV.TABLENAME = SRC.TABLENAME)
	WHEN NOT MATCHED THEN 
		INSERT (ROWID, TABLENAME, [VALUE]) VALUES (SRC.ROWID, SRC.TABLENAME, SRC.[VALUE])
	WHEN MATCHED AND EV.[VALUE] != SRC.[VALUE] THEN
		UPDATE SET EV.[VALUE] = SRC.[VALUE];

	INSERT INTO HST.ELEMENTS (ROWID, TABLENAME, [LENGTH], ELEMENT0)
	SELECT
		I.ID,
		'MGMNT.ACCOUNTS',
		1,
		EV.ID
	FROM inserted I
	JOIN HST.ELEMENTVALUES EV ON EV.ROWID = I.ID AND EV.TABLENAME = 'MGMNT.ACCOUNTS'
	WHERE NOT EXISTS(SELECT * FROM HST.ELEMENTS E WHERE E.ROWID = I.ID AND E.TABLENAME = 'MGMNT.ACCOUNTS')
	
	DECLARE @values TABLE
	(
		ROWID INT NOT NULL,
		COLUMNNAME NVARCHAR(128) NOT NULL,
		ISNEW BIT NOT NULL,
		VALUEID INT NULL
	);

	MERGE HST.[VALUES] I
	USING 
	(  
		SELECT I.ID, 'USERNAME' COLUMNNAME, 1 ISNEW, I.USERNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT I.ID, 'PERMISSIONS' COLUMNNAME, 1 ISNEW, CONVERT(NVARCHAR(MAX), I.[PERMISSIONS], 1) [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT I.ID, 'TITLE' COLUMNNAME, 1 ISNEW, I.TITLE [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TITLE != D.TITLE
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 1 ISNEW, I.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'SURNAME' COLUMNNAME, 1 ISNEW, I.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.SURNAME != D.SURNAME
		UNION ALL
		SELECT I.ID, 'USERNAME' COLUMNNAME, 0 ISNEW, D.USERNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT I.ID, 'PERMISSIONS' COLUMNNAME, 0 ISNEW, CONVERT(NVARCHAR(MAX), D.[PERMISSIONS], 1) [VALUE] 
		FROM inserted I 
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT I.ID, 'TITLE' COLUMNNAME, 0 ISNEW, D.TITLE [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TITLE != D.TITLE
		UNION ALL
		SELECT I.ID, 'NAME' COLUMNNAME, 0 ISNEW, D.[NAME] [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT I.ID, 'SURNAME' COLUMNNAME, 0 ISNEW, D.SURNAME [VALUE] 
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.SURNAME != D.SURNAME
	) SRC ON (1 = 0)
	WHEN NOT MATCHED THEN 
		INSERT ([VALUE])
		VALUES (SRC.[VALUE]) 
	OUTPUT SRC.ID, SRC.COLUMNNAME, SRC.ISNEW, inserted.ID INTO @values;

	INSERT INTO HST.VALUESHISTORY (MODUSER, MODUSERNAME, MODUSERSURNAME, MODCOMP, MODTYPE, AREAID, TABLENAME, COLUMNNAME, ROWID, OLDVALUEID, NEWVALUEID)
	SELECT * FROM
	(
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'USERNAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'USERNAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'USERNAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.USERNAME != D.USERNAME
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'PERMISSIONS' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'PERMISSIONS' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'PERMISSIONS' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TYPE' [COLUMNNAME],
			I.ID ROWID,
			CASE
				WHEN D.TYPE = 0 THEN 3
				WHEN D.TYPE = 1 THEN 4
				ELSE NULL
			END OLDVALUEID,
			CASE
				WHEN I.TYPE = 0 THEN 3
				WHEN I.TYPE = 1 THEN 4
				ELSE NULL
			END NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TYPE != D.TYPE
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'TITLE' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'TITLE' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'TITLE' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.TITLE != D.TITLE
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'NAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'NAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'NAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[NAME] != D.[NAME]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'SURNAME' [COLUMNNAME],
			I.ID ROWID,
			OV.VALUEID OLDVALUEID,
			NV.VALUEID NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		LEFT JOIN @values NV ON NV.ROWID = I.ID AND NV.COLUMNNAME = 'SURNAME' AND NV.ISNEW = 1
		LEFT JOIN @values OV ON OV.ROWID = I.ID AND OV.COLUMNNAME = 'SURNAME' AND OV.ISNEW = 0
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.[PERMISSIONS] != D.[PERMISSIONS]
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'ISLOCKED' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.ISLOCKED = 1, 1, 2) OLDVALUEID,
			IIF(I.ISLOCKED = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.ISLOCKED != D.ISLOCKED
		UNION ALL
		SELECT 
			I.MODUSER,
			A.NAME,
			A.SURNAME,
			I.MODCOMP,
			1 MODTYPE,
			4 AREAID,
			'MGMNT.ACCOUNTS' [TABLENAME],
			'INUSE' [COLUMNNAME],
			I.ID ROWID,
			IIF(D.INUSE = 1, 1, 2) OLDVALUEID,
			IIF(I.INUSE = 1, 1, 2) NEWVALUEID
		FROM inserted I
		JOIN deleted D ON D.ID = I.ID
		LEFT JOIN MGMNT.ACCOUNTS A ON A.USERNAME = I.MODUSER
		WHERE I.MODUSER IS NOT NULL AND I.MODCOMP IS NOT NULL AND I.INUSE != D.INUSE
	) AS T 
END
GO
ALTER TABLE [MGMNT].[ACCOUNTS] ENABLE TRIGGER [TR_ACCOUNTS_History_Update]
GO
