/****** Object:  StoredProcedure [MGMNT].[SetEdit]    Script Date: 11.01.2020 12:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [MGMNT].[SetEdit]
AS
BEGIN
	IF EXISTS(SELECT TOP 1 * FROM MGMNT.REGISTRY WHERE NAME = 'Edit')
	BEGIN
		DECLARE @data NVARCHAR(MAX) = (SELECT TOP 1 DATA FROM MGMNT.REGISTRY WHERE NAME = 'Edit');
		DECLARE @number INT = 0;
		IF @data LIKE '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].[0-9]%' AND TRY_CONVERT(INT, SUBSTRING(@data, 10, LEN(@data) - 9)) IS NOT NULL
			SET @number = CAST(SUBSTRING(@data, 10, LEN(@data) - 9) AS INT) + 1;
		UPDATE MGMNT.REGISTRY SET DATA = CONCAT(FORMAT( GETDATE(), 'yyyyMMdd'), '.', @number) WHERE NAME = 'Edit';
	END
	ELSE
		INSERT INTO MGMNT.REGISTRY(NAME, TYPE, DATA) VALUES ('Edit', 'String', CONCAT(FORMAT( GETDATE(), 'yyyyMMdd'), '.0'));
END
GO
/****** Object:  StoredProcedure [MGMNT].[SetVersion]    Script Date: 11.01.2020 12:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [MGMNT].[SetVersion]
	@major INT,
	@minor INT,
	@build INT,
	@revision INT
AS
BEGIN
	IF EXISTS(SELECT TOP 1 * FROM MGMNT.REGISTRY WHERE NAME = 'Version')
		UPDATE MGMNT.REGISTRY SET DATA = CONCAT(ISNULL(@major, 0), '.', ISNULL(@minor, 0), '.', ISNULL(@build, 0), '.', ISNULL(@revision, 0)) WHERE NAME = 'Version';
	ELSE
		INSERT INTO MGMNT.REGISTRY(NAME, TYPE, DATA) VALUES ('Version', 'String', CONCAT(ISNULL(@major, 0), '.', ISNULL(@minor, 0), '.', ISNULL(@build, 0), '.', ISNULL(@revision, 0)));
END
GO


ALTER TABLE [dbo].[ACCOUNT_TEAM] DROP CONSTRAINT [FK_ACCOUNT_TEAM_ACCOUNTS];
ALTER TABLE [dbo].[TASKS] DROP CONSTRAINT [FK_TASKS_ACCOUNTS];
GO
DROP TABLE [MGMNT].[ACCOUNTS];
GO

/****** Object:  Table [MGMNT].[ACCOUNTS]    Script Date: 11.01.2020 14:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MGMNT].[ACCOUNTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](260) NOT NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[PERMISSIONS] [varbinary](max) NOT NULL,
	[TYPE] [tinyint] NOT NULL,
	[TITLE] [nvarchar](500) NULL,
	[NAME] [nvarchar](100) NULL,
	[SURNAME] [nvarchar](100) NULL,
	[ISLOCKED] [bit] NOT NULL,
	[INUSE] [bit] NOT NULL,
	[MODUSER] [nvarchar](260) NULL,
	[MODCOMP] [nvarchar](200) NULL,
 CONSTRAINT [PK_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_ACCOUNTS_USERNAME] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [MGMNT].[ACCOUNTS] ADD  CONSTRAINT [DF_ACCOUNTS_PERMISSIONS]  DEFAULT ((0)) FOR [PERMISSIONS]
GO

ALTER TABLE [MGMNT].[ACCOUNTS] ADD  CONSTRAINT [DF_ACCOUNTS_TYPE]  DEFAULT ((0)) FOR [TYPE]
GO

ALTER TABLE [MGMNT].[ACCOUNTS] ADD  CONSTRAINT [DF_ACCOUNTS_ISLOCKED]  DEFAULT ((0)) FOR [ISLOCKED]
GO

ALTER TABLE [MGMNT].[ACCOUNTS] ADD  CONSTRAINT [DF_ACCOUNTS_INUSE]  DEFAULT ((1)) FOR [INUSE]
GO

ALTER TABLE [dbo].[ACCOUNT_TEAM]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_TEAM_ACCOUNTS] FOREIGN KEY([ACCOUNTID])
REFERENCES [MGMNT].[ACCOUNTS] ([ID])
GO

ALTER TABLE [dbo].[ACCOUNT_TEAM] CHECK CONSTRAINT [FK_ACCOUNT_TEAM_ACCOUNTS]
GO

ALTER TABLE [dbo].[TASKS]  WITH NOCHECK ADD  CONSTRAINT [FK_TASKS_ACCOUNTS] FOREIGN KEY([ACCOUNTID])
REFERENCES [MGMNT].[ACCOUNTS] ([ID])
GO

ALTER TABLE [dbo].[TASKS] NOCHECK CONSTRAINT [FK_TASKS_ACCOUNTS]
GO

CREATE VIEW dbo.V_RESOURCES
AS
	SELECT ID, NAME, DESCRIPTION, INUSE FROM RESOURCES
GO

CREATE VIEW dbo.V_PROJECTS
AS
	SELECT ID, NAME, DESCRIPTION, INUSE FROM PROJECTS
GO

CREATE VIEW dbo.V_TEAMS
AS
	SELECT ID, NAME, DESCRIPTION, INUSE FROM TEAMS
GO